.app-layout {
    box-sizing: $b-box;
    width: $max-width;
    height: $max-height;
    margin: $zero;
    padding: $zero;
    display: flex;

    &-side-nav {
        display: none;
        background-color: $primary-color-light;
        transition: .4s;
    }

    &-main {
        flex: 1;
    }

    &-header {
        background-color: $primary-color;
    }

    &-row {
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        justify-content: center;
    }

    &-column {
        flex: 1;
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        justify-content: center;
    }
}

.toggle {
    display: block;
    width: 25rem;
}
